<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Ident num</th>
      <th>Ident state</th>
      <th>Ident expir</th>
      <th>Ident img</th>
      <th>Recom num</th>
      <th>Recom issuer</th>
      <th>Recom expir</th>
      <th>Recom img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.dob %></td>
        <td><%= user.ident_num %></td>
        <td><%= user.ident_state %></td>
        <td><%= user.ident_expir %></td>
        <td><%= user.ident_img %></td>
        <td><%= user.recom_num %></td>
        <td><%= user.recom_issuer %></td>
        <td><%= user.recom_expir %></td>
        <td><%= user.recom_img %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
