
<div class="container p-3 my-3 border">
  <p id="notice"><%= notice %></p>

    <div class="form-group">
      <span>Name</span>
      <span class="form-control"><%= @user.name %></span>
    </div>

    <div class="form-group">
      <span>Email</span>
      <span class="form-control"><%= @user.email %></span>
    </div>

    <div class="form-group">
      <span>Dob</span>
      <span class="form-control"><%= @user.dob.to_date %></span>
    </div>

    <div class="container p-3 my-3 border">
      <div class="form-group">
        <span>Ident num</span>
        <span class="form-control"><%= @user.ident_num %></span>
      </div>

      <div class="form-group">
        <span>Ident state</span>
        <span class="form-control"><%= @user.ident_state %></span>
      </div>

      <div class="form-group">
        <span>Ident expir</span>
        <span class="form-control"><%= @user.ident_expir %></span>
      </div>

      <br>
      <div class="form-group">
        <div class="container" >
          <span>
            <a href="<%= @user.ident_img.url %>">
              <img class="docthumb rounded" src="<%= @user.ident_img.url %>">
            </a> 
          </span>
          <input id="identFileUpload" type="file" name="identFileUpload" />
          <button id="upload-button" onclick="uploadIdent()"> Upload </button>
        </div>
      </div>
    </div>

    <div class="container p-3 my-3 border">
      <div class="form-group">
        <span>Recom num</span>
        <span class="form-control"><%= @user.recom_num %></span>
      </div>

      <div class="form-group">
        <span>Recom issuer</span>
        <span class="form-control"><%= @user.recom_issuer %></span>
      </div>

      <div class="form-group">
        <span>Recom expir</span>
        <span class="form-control"><%= @user.recom_expir %></span>
      </div>

      <br>
      <div class="form-group">
        <div class="container" >
          <span>
            <a href="<%= @user.recom_img.url %>">
              <img class="docthumb rounded" src="<%= @user.recom_img.url %>">
            </a> 
          </span>
          <input id="recomFileUpload" type="file" name="recomFileUpload" />
          <button id="upload-button" onclick="uploadRecom()"> Upload </button>
        </div>
      </div>
    </div>

  </div>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script>
  // --- 1337 h4xx here ---
  // ActiveResource doesn't handle files well, so we're just
  // going to use some javascript for now

  async function uploadIdent() {
    var field = "ident_img";
    uploadFile(field, identFileUpload);
  }

  async function uploadRecom() {
    var field = "recom_img";
    uploadFile(field, recomFileUpload);
  }

  async function uploadFile(field, fileInput) {
  var address = "<%= "#{ENV["ACTIVERESOURCE_ROOT_URL"]}/users/#{@user.id}" %>";
  var formdata = new FormData();
  formdata.append(field, fileInput.files[0]);

  var requestOptions = {
    method: 'PUT',
    body: formdata,
    redirect: 'follow'
  };

  fetch(address, requestOptions)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log('error', error));
  }
</script>
